<div class="bs-example" data-example-id="simple-nav-stacked">
  <ul class="nav nav-pills nav-stacked nav-pills-stacked-example" id="left_main_nav">
    <li id="forget" role="presentation"><a href="/forget/to_forget">遗忘算法分词模型</a></li>
    <li id="textcnn" role="presentation"><a href="/tf/to_textcnn">TextCNN分类测试</a></li>
    <li id="lstm_crf_ner" role="presentation"><a href="/tf/to_ner">Lstm+CRF实体识别测试</a></li>
  </ul>
</div>
<script type="text/javascript">
  $("#left_main_nav li").each(function(){
      $(this).removeClass("active");
  })
  $("#"+navObj).addClass("active")
</script>